.row {
    width: 500px;
    background-color: red;
    display: flex;

}
.col-2 {
    height: 100px;
    background-color: aqua;
    margin: 5px;
    flex: 2;
}
.col-3 {
    height: 100px;
    background-color: blue;
    margin: 5px;
    flex: 3;
}